{% load echo_templates %}
<html>
<head>
    {% if meta_refresh %}
        <meta http-equiv="refresh" content="{{ meta_refresh }}">
    {% endif %}
</head>
<body> 
    {% if num_frames %}
    {% for _ in num_frames|times %}
        <iframe></iframe>
    {% endfor %}
    {% endif %}

    {% if input_id %}
        <div id="container" style="height: 3000px; width: 1000px;"></div>
        <input id="{{ input_id }}"></input>
    {% endif %}

    {% if post_message %}
        <script>
            try {
                window.opener.postMessage("{{ post_message }}", "*");
            } catch (e) {
            }
            try {
                window.parent.postMessage("{{ post_message }}", "*");
            } catch {
                
            }
        </script>
    {% endif %}
</body>

</html>